@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nanum+Gothic&family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --html-color: "#dfdddd"; */
    --html-color: "#f7f7f7";
    --navHover-color: "#181818";
}

/* .blurRoot {
    filter: blur(0px);
    transition: all 0.5s ease-in-out;
}

.blurRoot.active {
    filter: blur(5px);
    transition: all 0.5s ease-in-out;
} */

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif !important;
    /* font-family: 'Josefin Sans', sans-serif; */
    scroll-behavior: smooth;
    background-color: var(--html-color);
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

/* Navbar */

/* .navItem {
    display: block;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    transform: scale(1);
}
.navItem:hover {
    transform: scale(1.05);
    color: var(--navHover-color);
}
/*Scrolling effect activation...starts*/
/* .navItem.active {
    transform: scale(1.05);
    color: var(--navHover-color);
    font-weight: 400;
}
.navItem.active::after {
    transform: scale(1);
} */
/*Scrolling effect activation...ends*/
/* .navItem::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background: var(--navHover-color);
    left: 10px;
    bottom: 10px;
    margin: 0 auto;
    transform: scale(0);
    transition: all linear 0.3s;
}
.navItem:hover::after {
    transform: scale(1);
}  */
.navItem {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navItem:before {
    transition: 300ms;
    height: 2.5px;
    content: "";
    position: absolute;
    background-color: var(--navHover-color);
}

.navItem:hover {
    transform: scale(1.05);
    color: var(--navHover-color);
}

.navItem::before {
    width: 0%;
    bottom: 10px;
}
.navItem:hover::before {
    width: 100%;
}

.sidebar-container.active {
    transform: translateX(60%);
}

/*Projects catagory buttons active class*/
.click-color {
    color: white;
    background-color: #313bac;
}
